FPGA_KEY0	Y1
FPGA_KEY1	Y3
FPGA_KEY2	AA3
FPGA_KEY3	AA5

NET "SW_DIP[0]" LOC = Y5;
NET "SW_DIP[1]" LOC = W1;
NET "SW_DIP[2]" LOC = W2;
NET "SW_DIP[3]" LOC = V1;
NET "SW_DIP[4]" LOC = U1;
NET "SW_DIP[5]" LOC = U2;
NET "SW_DIP[6]" LOC = R1;
NET "SW_DIP[7]" LOC = R2;
NET "SW_DIP[8]" LOC = P1;
NET "SW_DIP[9]" LOC = N1;
NET "SW_DIP[10]" LOC = N2;
NET "SW_DIP[11]" LOC = M1;
NET "SW_DIP[12]" LOC = L1;
NET "SW_DIP[13]" LOC = L2;
NET "SW_DIP[14]" LOC = W5;
NET "SW_DIP[15]" LOC = W3;
NET "SW_DIP[16]" LOC = V4;
NET "SW_DIP[17]" LOC = V3;
NET "SW_DIP[18]" LOC = U4;
NET "SW_DIP[19]" LOC = U3;
NET "SW_DIP[20]" LOC = T4;
NET "SW_DIP[21]" LOC = R4;
NET "SW_DIP[22]" LOC = R3;
NET "SW_DIP[23]" LOC = P5;
NET "SW_DIP[24]" LOC = P3;
NET "SW_DIP[25]" LOC = N4;
NET "SW_DIP[26]" LOC = N3;
NET "SW_DIP[27]" LOC = N5;
NET "SW_DIP[28]" LOC = M4;
NET "SW_DIP[29]" LOC = M3;
NET "SW_DIP[30]" LOC = L4;
NET "SW_DIP[31]" LOC = L3;

