NET "baseram_addr[0]" LOC = Y26;
NET "baseram_addr[1]" LOC = W25;
NET "baseram_addr[2]" LOC = W26;
NET "baseram_addr[3]" LOC = V24;
NET "baseram_addr[4]" LOC = V26;
NET "baseram_addr[5]" LOC = AC14;
NET "baseram_addr[6]" LOC = AD15;
NET "baseram_addr[7]" LOC = AC15;
NET "baseram_addr[8]" LOC = AC16;
NET "baseram_addr[9]" LOC = AC19;
NET "baseram_addr[10]" LOC = AA15;
NET "baseram_addr[11]" LOC = AC20;
NET "baseram_addr[12]" LOC = AD21;
NET "baseram_addr[13]" LOC = AB22;
NET "baseram_addr[14]" LOC = AA18;
NET "baseram_addr[15]" LOC = AA23;
NET "baseram_addr[16]" LOC = AC23;
NET "baseram_addr[17]" LOC = V23;
NET "baseram_addr[18]" LOC = W22;
NET "baseram_addr[19]" LOC = W24;
NET "baseram_data[0]" LOC = AC24;
NET "baseram_data[1]" LOC = AD24;
NET "baseram_data[2]" LOC = AC26;
NET "baseram_data[3]" LOC = AB26;
NET "baseram_data[4]" LOC = Y24;
NET "baseram_data[5]" LOC = AA24;
NET "baseram_data[6]" LOC = Y22;
NET "baseram_data[7]" LOC = AB24;
NET "baseram_data[8]" LOC = AD19;
NET "baseram_data[9]" LOC = AB18;
NET "baseram_data[10]" LOC = AD18;
NET "baseram_data[11]" LOC = AC17;
NET "baseram_data[12]" LOC = AB17;
NET "baseram_data[13]" LOC = AF21;
NET "baseram_data[14]" LOC = AE21;
NET "baseram_data[15]" LOC = AF20;
NET "baseram_data[16]" LOC = AE23;
NET "baseram_data[17]" LOC = AB21;
NET "baseram_data[18]" LOC = AE24;
NET "baseram_data[19]" LOC = AF25;
NET "baseram_data[20]" LOC = AE25;
NET "baseram_data[21]" LOC = AE26;
NET "baseram_data[22]" LOC = AD26;
NET "baseram_data[23]" LOC = AC25;
NET "baseram_data[24]" LOC = AF19;
NET "baseram_data[25]" LOC = AE19;
NET "baseram_data[26]" LOC = AF18;
NET "baseram_data[27]" LOC = AA17;
NET "baseram_data[28]" LOC = AA19;
NET "baseram_data[29]" LOC = AF16;
NET "baseram_data[30]" LOC = AF15;
NET "baseram_data[31]" LOC = AE15;
NET "baseram_ce" LOC = AA26;
NET "baseram_oe" LOC = AD17;
NET "baseram_we" LOC = AA25;

NET "extram_addr[0]" LOC = AD4;
NET "extram_addr[1]" LOC = AD3;
NET "extram_addr[2]" LOC = AD6;
NET "extram_addr[3]" LOC = AC5;
NET "extram_addr[4]" LOC = AD5;
NET "extram_addr[5]" LOC = AD14;
NET "extram_addr[6]" LOC = AC13;
NET "extram_addr[7]" LOC = AB10;
NET "extram_addr[8]" LOC = AD10;
NET "extram_addr[9]" LOC = AD9;
NET "extram_addr[10]" LOC = AC9;
NET "extram_addr[11]" LOC = AD8;
NET "extram_addr[12]" LOC = AB8;
NET "extram_addr[13]" LOC = AD7;
NET "extram_addr[14]" LOC = AC7;
NET "extram_addr[15]" LOC = AA4;
NET "extram_addr[16]" LOC = AB3;
NET "extram_addr[17]" LOC = AB4;
NET "extram_addr[18]" LOC = AB5;
NET "extram_addr[19]" LOC = AB6;
NET "extram_data[0]" LOC = AF2;
NET "extram_data[1]" LOC = AE3;
NET "extram_data[2]" LOC = AE4;
NET "extram_data[3]" LOC = AF4;
NET "extram_data[4]" LOC = AE5;
NET "extram_data[5]" LOC = AF5;
NET "extram_data[6]" LOC = AF6;
NET "extram_data[7]" LOC = AE7;
NET "extram_data[8]" LOC = AE13;
NET "extram_data[9]" LOC = AF13;
NET "extram_data[10]" LOC = AD11;
NET "extram_data[11]" LOC = AC11;
NET "extram_data[12]" LOC = AD12;
NET "extram_data[13]" LOC = AC12;
NET "extram_data[14]" LOC = AD13;
NET "extram_data[15]" LOC = AF14;
NET "extram_data[16]" LOC = AE2;
NET "extram_data[17]" LOC = AE1;
NET "extram_data[18]" LOC = AD1;
NET "extram_data[19]" LOC = AC1;
NET "extram_data[20]" LOC = AC2;
NET "extram_data[21]" LOC = AB1;
NET "extram_data[22]" LOC = AA2;
NET "extram_data[23]" LOC = AA1;
NET "extram_data[24]" LOC = AF7;
NET "extram_data[25]" LOC = AF8;
NET "extram_data[26]" LOC = AE9;
NET "extram_data[27]" LOC = AF9;
NET "extram_data[28]" LOC = AF10;
NET "extram_data[29]" LOC = AE11;
NET "extram_data[30]" LOC = AF11;
NET "extram_data[31]" LOC = AF12;
NET "extram_ce" LOC = AC3;
NET "extram_oe" LOC = AB9;
NET "extram_we" LOC = AC4;
