
NET "led[0]" LOC = J24;
NET "led[1]" LOC = G23;
NET "led[2]" LOC = J25;
NET "led[3]" LOC = J26;
NET "led[4]" LOC = H26;
NET "led[5]" LOC = G25;
NET "led[6]" LOC = G26;
NET "led[7]" LOC = F26;
NET "led[8]" LOC = N26;
NET "led[9]" LOC = M26;
NET "led[10]" LOC = L25;
NET "led[11]" LOC = L26;
NET "led[12]" LOC = K26;
NET "led[13]" LOC = M23;
NET "led[14]" LOC = K24;
NET "led[15]" LOC = L24;

NET "clk_i" LOC = U26;
NET "rst_n" LOC = T1;

NET "uart_txd_o" LOC = N23;
NET "uart_rxd_i" LOC = P26;

NET "sram_addr0[19]" LOC = W24;
NET "sram_addr0[18]" LOC = W22;
NET "sram_addr0[17]" LOC = V23;
NET "sram_addr0[16]" LOC = AC23;
NET "sram_addr0[15]" LOC = AA23;
NET "sram_addr0[14]" LOC = AA18; //
NET "sram_addr0[13]" LOC = AB22;
NET "sram_addr0[12]" LOC = AD21;
NET "sram_addr0[11]" LOC = AC20;
NET "sram_addr0[10]" LOC = AA15; //
NET "sram_addr0[9]" LOC = AC19;
NET "sram_addr0[8]" LOC = AC16;
NET "sram_addr0[7]" LOC = AC15;
NET "sram_addr0[6]" LOC = AD15;
NET "sram_addr0[5]" LOC = AC14;
NET "sram_addr0[4]" LOC = V26;
NET "sram_addr0[3]" LOC = V24;
NET "sram_addr0[2]" LOC = W26;
NET "sram_addr0[1]" LOC = W25;
NET "sram_addr0[0]" LOC = Y26;
NET "sram_data0[31]" LOC = AE15;
NET "sram_data0[30]" LOC = AF15;
NET "sram_data0[29]" LOC = AF16;
NET "sram_data0[28]" LOC = AA19; //
NET "sram_data0[27]" LOC = AA17; //
NET "sram_data0[26]" LOC = AF18;
NET "sram_data0[25]" LOC = AE19;
NET "sram_data0[24]" LOC = AF19;
NET "sram_data0[23]" LOC = AC25;
NET "sram_data0[22]" LOC = AD26;
NET "sram_data0[21]" LOC = AE26;
NET "sram_data0[20]" LOC = AE25;
NET "sram_data0[19]" LOC = AF25;
NET "sram_data0[18]" LOC = AE24;
NET "sram_data0[17]" LOC = AB21; //
NET "sram_data0[16]" LOC = AE23; 
NET "sram_data0[15]" LOC = AF20;
NET "sram_data0[14]" LOC = AE21;
NET "sram_data0[13]" LOC = AF21;
NET "sram_data0[12]" LOC = AB17;
NET "sram_data0[11]" LOC = AC17;
NET "sram_data0[10]" LOC = AD18;
NET "sram_data0[9]" LOC = AB18;
NET "sram_data0[8]" LOC = AD19;
NET "sram_data0[7]" LOC = AB24;
NET "sram_data0[6]" LOC = Y22;
NET "sram_data0[5]" LOC = AA24;
NET "sram_data0[4]" LOC = Y24;
NET "sram_data0[3]" LOC = AB26;
NET "sram_data0[2]" LOC = AC26;
NET "sram_data0[1]" LOC = AD24;
NET "sram_data0[0]" LOC = AC24;
NET "sram_ce0" LOC = AA26;
NET "sram_oe0" LOC = AD17;
NET "sram_we0" LOC = AA25;


NET "sram_addr1[19]" LOC = AB6;
NET "sram_addr1[18]" LOC = AB5;
NET "sram_addr1[17]" LOC = AB4;
NET "sram_addr1[16]" LOC = AB3;
NET "sram_addr1[15]" LOC = AA4;
NET "sram_addr1[14]" LOC = AC7;
NET "sram_addr1[13]" LOC = AD7;
NET "sram_addr1[12]" LOC = AB8;
NET "sram_addr1[11]" LOC = AD8;
NET "sram_addr1[10]" LOC = AC9;
NET "sram_addr1[9]" LOC = AD9;
NET "sram_addr1[8]" LOC = AA11; //
NET "sram_addr1[7]" LOC = AB10;
NET "sram_addr1[6]" LOC = AC13;
NET "sram_addr1[5]" LOC = AD14;
NET "sram_addr1[4]" LOC = AD5;
NET "sram_addr1[3]" LOC = AC5;
NET "sram_addr1[2]" LOC = AD6;
NET "sram_addr1[1]" LOC = AD3;
NET "sram_addr1[0]" LOC = AD4;
NET "sram_data1[31]" LOC = AF12;
NET "sram_data1[30]" LOC = AF11;
NET "sram_data1[29]" LOC = AE11;
NET "sram_data1[28]" LOC = AB11; //
NET "sram_data1[27]" LOC = AF9;
NET "sram_data1[26]" LOC = AB13; //
NET "sram_data1[25]" LOC = AF8;
NET "sram_data1[24]" LOC = AA7; //
NET "sram_data1[23]" LOC = AA1;
NET "sram_data1[22]" LOC = AA2;
NET "sram_data1[21]" LOC = AB1;
NET "sram_data1[20]" LOC = AC2;
NET "sram_data1[19]" LOC = AC1;
NET "sram_data1[18]" LOC = AD1;
NET "sram_data1[17]" LOC = AE1;
NET "sram_data1[16]" LOC = AE2;
NET "sram_data1[15]" LOC = AF14;
NET "sram_data1[14]" LOC = AD13;
NET "sram_data1[13]" LOC = AC12;
NET "sram_data1[12]" LOC = AD12;
NET "sram_data1[11]" LOC = AC11;
NET "sram_data1[10]" LOC = AD11;
NET "sram_data1[9]" LOC = AF13;
NET "sram_data1[8]" LOC = AE13;
NET "sram_data1[7]" LOC = AA8; //
NET "sram_data1[6]" LOC = AF6;
NET "sram_data1[5]" LOC = AF5;
NET "sram_data1[4]" LOC = AE5;
NET "sram_data1[3]" LOC = AF4;
NET "sram_data1[2]" LOC = AA9; //
NET "sram_data1[1]" LOC = AE3;
NET "sram_data1[0]" LOC = AF2;
NET "sram_ce1" LOC = AC3;
NET "sram_oe1" LOC = AB9;
NET "sram_we1" LOC = AC4;


NET "flash_addr[0]" LOC = G3;
NET "flash_addr[1]" LOC = C8;
NET "flash_addr[2]" LOC = D8;
NET "flash_addr[3]" LOC = D7;
NET "flash_addr[4]" LOC = E8;
NET "flash_addr[5]" LOC = A7;
NET "flash_addr[6]" LOC = C7;
NET "flash_addr[7]" LOC = C6;
NET "flash_addr[8]" LOC = D6;
NET "flash_addr[9]" LOC = A6;
NET "flash_addr[10]" LOC = B6;
NET "flash_addr[11]" LOC = C5;
NET "flash_addr[12]" LOC = E5;
NET "flash_addr[13]" LOC = B4;
NET "flash_addr[14]" LOC = A4;
NET "flash_addr[15]" LOC = C4;
NET "flash_addr[16]" LOC = C3;
NET "flash_addr[17]" LOC = B2;
NET "flash_addr[18]" LOC = A2;
NET "flash_addr[19]" LOC = C2;
NET "flash_addr[20]" LOC = F5;
NET "flash_addr[21]" LOC = D3;
NET "flash_addr[22]" LOC = G5;

NET "flash_data[0]" LOC = G4;
NET "flash_data[1]" LOC = J3;
NET "flash_data[2]" LOC = K3;
NET "flash_data[3]" LOC = K5;
NET "flash_data[4]" LOC = C1;
NET "flash_data[5]" LOC = E2;
NET "flash_data[6]" LOC = F1;
NET "flash_data[7]" LOC = G1;
NET "flash_data[8]" LOC = H3;
NET "flash_data[9]" LOC = J4;
NET "flash_data[10]" LOC = H5;
NET "flash_data[11]" LOC = B1;
NET "flash_data[12]" LOC = D1;
NET "flash_data[13]" LOC = E1;
NET "flash_data[14]" LOC = G2;
NET "flash_data[15]" LOC = H1;

NET "flash_signal[0]" LOC = F3;
NET "flash_signal[1]" LOC = E6;
NET "flash_signal[2]" LOC = E4;
NET "flash_signal[3]" LOC = E3;
NET "flash_signal[4]" LOC = J1;
NET "flash_signal[5]" LOC = A5;
NET "flash_signal[6]" LOC = D5;
NET "flash_signal[7]" LOC = K1;


// NET "ps2_data[7]" LOC = T23;
// NET "ps2_data[6]" LOC = T24;
// NET "ps2_data[5]" LOC = T26;
// NET "ps2_data[4]" LOC = R23;
// NET "ps2_data[3]" LOC = R25;
// NET "ps2_data[2]" LOC = R24;
// NET "ps2_data[1]" LOC = R26;
// NET "ps2_data[0]" LOC = P24;
// NET "ps2_state" LOC = U24;
// NET "ps2_check_bit" LOC = U23;